<div class="card mt-4">
    <div class="icon-container text-primary text-center">
        <i class="fa-solid fa-truck fa-6x mt-1"></i>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ truck().licenceNumber | titlecase }}</h5>
        <p class="card-text">Manufacturer: {{truck().manufacturer}}</p>
        <p class="card-text">Model: {{truck().model}} </p>
        <p class="card-text">Status: 
            <span [ngClass]="utility.getStatusClass(truckStatuses[truck().status].key)">{{truckStatuses[truck().status].key}}</span>
            </p>
        <a class="btn btn-outline-info" routerLink="/truck-details/{{truck().id}}" routerLinkActive="active">Truck
            details</a>
    </div>
</div>