<div class="container justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center">
        <div class="card col-6 p-3">
            <h2 class="text-center text-primary">Add new driver</h2>
            <hr>

            <form [formGroup]="addDriverForm" (ngSubmit)="addNewDriver()">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow me-1">
                        <app-text-input [label]="'First Name*'"
                            [formControl]="$any(addDriverForm.controls['firstName'])"></app-text-input>
                    </div>
                    <div class="flex-grow ms-1">
                        <app-text-input [label]="'Last Name*'"
                            [formControl]="$any(addDriverForm.controls['lastName'])"></app-text-input>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="flex-grow me-1">
                        <app-text-input [label]="'CNP*'" [textMessage]="'numbers'"
                            [formControl]="$any(addDriverForm.controls['cnp'])"></app-text-input>
                    </div>
                    <div class="flex-grow ms-1">
                        <app-text-input [label]="'Tel Number*'" [textMessage]="'numbers'"
                            [formControl]="$any(addDriverForm.controls['telNumber'])"></app-text-input>
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <app-text-input [label]="'Emplyer'"
                        [formControl]="$any(addDriverForm.controls['employer'])"></app-text-input>
                </div>

                <div class="mb-3 form-floating">
                    <app-text-input [label]="'Address'"
                        [formControl]="$any(addDriverForm.controls['address'])"></app-text-input>
                </div>

                <div class="row justify-content-between mb-3">
                    <div class="col-md-6 form-floating">
                        <app-text-input [label]="'ID Number'"
                            [formControl]="$any(addDriverForm.controls['idNumber'])"></app-text-input>
                    </div>

                    <div class="col-md-6 form-floating ">
                        <app-date-picker [label]="'Driver ID Expiration Date'"
                            [formControl]="$any(addDriverForm.controls['idNumberExpirationDate'])"></app-date-picker>
                    </div>
                </div>

                <div class="row justify-content-between mb-3">
                    <div class="col-md-6 form-floating">
                        <app-text-input [label]="'Driver Licence Number'"
                            [formControl]="$any(addDriverForm.controls['driverLicenceNumber'])"></app-text-input>
                    </div>

                    <div class="col-md-6 form-floating ">
                        <app-date-picker [label]="'Driver Licence Expiration Date'"
                            [formControl]="$any(addDriverForm.controls['driverLicenceExpirationDate'])"></app-date-picker>
                    </div>
                </div>

                <div class="row justify-content-between mb-3">
                    <div class="col-md-6  form-floating">
                        <app-text-input [label]="'Contract Number'"
                            [formControl]="$any(addDriverForm.controls['contractNumber'])"></app-text-input>
                    </div>

                    <div class="col-md-6">
                        <app-form-select [enumValues]="driverContracStatuses" [isEditable]="true"
                            [formControl]="$any(addDriverForm.controls['contractStatus'])"
                            [label]="'Contract Status'"></app-form-select>
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <app-textarea-input [label]="'Details(optional)'"
                        [formControl]="$any(addDriverForm.controls['details'])"></app-textarea-input>
                </div>

                <hr>

                <div class="form-group text-center">
                    <button [disabled]="addDriverForm.invalid || addDriverForm.pristine" class="btn btn-success me-2"
                        type="submit">Add</button>
                    <button class="btn btn-outline-info me-2" type="button" routerLink="/drivers"
                        routerLinkActive="active">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>