<div class="container mb-3">

    <form #registerForm="ngForm" (ngSubmit)="addNewDriver()">
        <h2 class="text-center text-primary">Add new driver</h2>
        <hr>
        <div class="mb-3 form-floating">
            <input [(ngModel)]="newDriver.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" required>
            <label>First Name</label>
        </div>
        <div class="mb-3 form-floating">
            <input [(ngModel)]="newDriver.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name">
            <label>Last Name</label>
        </div>
        <div class="mb-3 form-floating">
            <input [(ngModel)]="newDriver.cnp" type="text" class="form-control" name="text" placeholder="CNP">
            <label>CNP</label>
        </div>
        <div class="mb-3 form-floating">
            <input [(ngModel)]="newDriver.telNumber" type="tel" class="form-control" name="telNumber" placeholder="Tel Number">
            <label>Tel Number</label>
        </div>
        <hr>

        <div class="form-group text-center">
            <button class="btn btn-success me-2" type="submit">Add</button>
            <button class="btn btn-outline-info me-2" type="button" routerLink="/drivers" routerLinkActive="active">Cancel</button>
        </div>
    
    </form>
</div>

