<form [formGroup]="userRegisterForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Create account</h2>
    <hr>

    <app-text-input [label]="'First Name'" [formControl]="$any(userRegisterForm.controls['firstName'])"></app-text-input>
    <app-text-input [label]="'Last Name'" [formControl]="$any(userRegisterForm.controls['lastName'])"></app-text-input>

    <app-text-input [label]="'Email'" [formControl]="$any(userRegisterForm.controls['email'])" [type]="'email'"></app-text-input>

    <app-text-input [label]="'Password'" [formControl]="$any(userRegisterForm.controls['password'])" 
        [isPasswordField]="true"></app-text-input>
    <app-text-input [label]="'Confirm password'" [formControl]="$any(userRegisterForm.controls['confirmPassword'])" 
        [isPasswordField]="true"></app-text-input>

    <hr>
    <div class="form-group text-center">
        <button [disabled]="userRegisterForm.invalid || userRegisterForm.pristine" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-outline-info me-2" type="button" (click)="cancel()">Cancel</button>
    </div>

</form>