@if(isAddMode) {
<app-add-new-driver (cancelAddDriver)="cancelIsAddMode($event)"></app-add-new-driver>
}@else{
@if (paginationServices.paginatedResult()?.items) {
<div class="mx-auto">
    <h1 class="text-primary text-center">All Drivers - {{paginationServices.paginatedResult()?.pagination?.totalItems}}
    </h1>
</div>

<div class="row mt-3">

    <div class="col-1">
        <label class="me-2 pt-2">Filter by</label>
    </div>
    <div class="col-2 d-flex">
        <label class="me-2 pt-2">Status</label>
        <select name="contractStatus" [(ngModel)]="driversService.driverParams().contractStatus" class="form-control"
            (ngModelChange)="getDrivers()">
            @for (status of driverContracStatuses; track status.value) {
            <option [value]="status.value">{{status.key}}</option>
            }
        </select>
    </div>

    <div class="col-1 pt-2">
        <label class="me-2">Order by</label>
    </div>
    <div class="col-2">
        <select name="orderBy" [(ngModel)]="driversService.driverParams().orderBy" class="form-control"
            (ngModelChange)="getDrivers()">
            @for (status of orderCategories; track status.value) {
            <option [value]="status.value">{{status.display}}</option>
            }
        </select>
    </div>

    <div class="col-2">
        <button (click)="resetFilters()" class="btn btn-primary" type="button">Reset filters</button>
    </div>

</div>

<div class="row">
    <ng-container *ngFor="let driver of paginationServices.paginatedResult()?.items">
        <div class="col-3">
            <app-driver-card [driver]="driver"></app-driver-card>
        </div>
    </ng-container>
</div>

}@else {
<p>No drivers found.</p>
}

@if (paginationServices.paginatedResult()?.pagination) {
<div class="d-flex justify-content-center mt-5">
    <pagination [boundaryLinks]="true" [totalItems]="paginationServices.paginatedResult()?.pagination!.totalItems"
        [itemsPerPage]="paginationServices.paginatedResult()?.pagination!.itemsPerPage"
        [(ngModel)]="paginationServices.paginatedResult()?.pagination!.currentPage" (pageChanged)="pageChanged($event)"
        [maxSize]="10" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-lg btn-primary m-4" type="button" routerLink="/add-new-driver"
                routerLinkActive="active">Add Driver</button>
        </div>
    </div>
</div>
}