input:disabled {
  background-color: aliceblue;
  border: none;
}

.col-2 button {
  flex: 1;
  width: 100%;
  margin-bottom: 10px;
}

.flex-grow {
  flex-grow: 1;
}

.date-of-birth input {
  margin-left: 0px;
}

.form-floating label{
  color: #466179;
}

.form-floating label::before, 
.form-floating label::after {
    background-color: transparent;
}