@if(driversService.currentDriver()){
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary" routerLink="/drivers" routerLinkActive="active">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </button>
        </div>

        <div class="col-11">
            <form [formGroup]="driverForm" (ngSubmit)="updateDriver()">
                <div class="row">
                    <div class="card col-10 p-3">
                        <div class="row justify-content-center">
                            <div class="col-5 me-1">
                                <app-text-input [label]="'First Name'" [isEditable]="isEditMode"
                                    [formControl]="$any(driverForm.get('firstName'))"></app-text-input>
                            </div>

                            <div class="col-5 me-1">
                                <app-text-input [label]="'Last Name'" [isEditable]="isEditMode"
                                    [formControl]="$any(driverForm.controls['lastName'])"></app-text-input>
                            </div>
                        </div>

                        <tabset class="driver-tabset">

                            <tab heading="Personal Information">

                                <div class="d-flex">
                                    <div class="flex-grow me-1">
                                        <div class="form-floating">
                                            <input type="text" value="{{driversService.currentDriver()!.cnp}}"
                                                disabled="true" class="form-control ">
                                            <label>CNP</label>
                                        </div>
                                    </div>

                                    <div class="flex-grow">
                                        <div class="form-floating">
                                            <input type="text" value="{{driversService.currentDriver()!.dateOfBirt}}"
                                                disabled="true" class="form-control ">
                                            <label>Date of birth</label>
                                        </div>
                                    </div>

                                    <div class="flex-grow ms-1">
                                        <app-text-input [label]="'Tel Number'" [textMessage]="'numbers'"
                                            [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['telNumber'])"></app-text-input>
                                    </div>

                                </div>

                                <div class="d-flex">
                                    <div class="flex-grow">
                                        <app-text-input [label]="'Address'" [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['address'])"></app-text-input>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <div class="col-5 me-1">
                                        <app-text-input [label]="'CI Number'" [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['idNumber'])"></app-text-input>
                                    </div>
                                    <div class="col-4">
                                        <app-date-picker
                                            [formControl]="$any(driverForm.controls['idNumberExpirationDate'])"
                                            [label]="'CI Expiration Date'" [isEditable]="isEditMode"></app-date-picker>
                                    </div>
                                </div>

                                <app-textarea-input [label]="'Extra Details'" [isEditable]="isEditMode"
                                    [formControl]="$any(driverForm.controls['details'])"></app-textarea-input>

                            </tab>

                            <tab heading="Additional Information">
                                <div class="flex-grow">
                                    <app-text-input [label]="'Employer'" [isEditable]="isEditMode"
                                        [formControl]="$any(driverForm.controls['employer'])"></app-text-input>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-5 me-1">
                                        <app-text-input [label]="'Driving Licence Number'" [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['driverLicenceNumber'])"></app-text-input>
                                    </div>
                                    <div class="col-4">
                                        <app-date-picker
                                            [formControl]="$any(driverForm.controls['driverLicenceExpirationDate'])"
                                            [label]="'Licence Expiration Date'"
                                            [isEditable]="isEditMode"></app-date-picker>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-5 me-1">
                                        <app-text-input [label]="'Contract Number'" [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['contractNumber'])"></app-text-input>
                                    </div>
                                    <div class="col-4">
                                        <app-form-select [enumValues]="driverContracStatuses" [isEditable]="isEditMode"
                                            [formControl]="$any(driverForm.controls['contractStatus'])"
                                            [label]="'Contract Status'"></app-form-select>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-3 me-1">
                                        <label>Truck</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>Job</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Log History">
                                <div *ngFor="let action of driversService.currentDriver()!.log">
                                    <p>{{action}}</p>
                                </div>
                            </tab>

                        </tabset>
                    </div>

                    <div class="col-2">
                        @if(!isEditMode){

                        <button class="btn btn-primary" type="button" (click)="setEditMode()">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Edit driver
                        </button>

                        }@else {

                        <button [disabled]="!driverForm.dirty" type="submit" class="btn btn-success">
                            <i class="fa-regular fa-floppy-disk"></i>
                            Save modifications
                        </button>

                        <button class="btn btn-outline-primary" type="button" (click)="setEditMode()">
                            <i class="fa-solid fa-xmark"></i>
                            Cancel
                        </button>

                        <button class="btn btn-danger" type="button" (click)="deleteDriver()">
                            <i class="fa-regular fa-trash-can"></i>
                            Delete driver
                        </button>

                        }
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
}