<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary" routerLink="/trucks" routerLinkActive="active">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </button>
        </div>

        <div class="col-11">

            <form [formGroup]="truckForm" (ngSubmit)="updateTruck()">
                <div class="row">
                    <div class="col-10 card p-3">

                        <div class="row justify-content-center">
                            <div class="col-5 me-1">
                                <app-text-input [label]="'Licence Number'" [isEditable]="isEditMode"
                                    [formControl]="$any(truckForm.get('licenceNumber'))"></app-text-input>
                            </div>

                            <div class="col-5 me-1">
                                <app-text-input [label]="'VIN'" [isEditable]="isEditMode"
                                    [formControl]="$any(truckForm.controls['vin'])"></app-text-input>
                            </div>
                        </div>

                        <tabset class="driver-tabset">

                            <tab heading="Date identificare">

                                <div class="d-flex justify-content-between">
                                    <div class="col-4">
                                        <app-text-input [label]="'Manufacturer'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['manufacturer'])"></app-text-input>
                                    </div>

                                    <div class="col-4 mx-1">
                                        <app-text-input [label]="'Model'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['model'])"></app-text-input>
                                    </div>

                                    <div class="col-4">
                                        <app-date-picker [label]="'Fabrication Date'" [isEditable]="isEditMode"
                                            [isCheckDate]="false"
                                            [formControl]="$any(truckForm.controls['fabricationDate'])"></app-date-picker>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-between">
                                    <div class="col-3">
                                        <app-text-input [label]="'Engine Capacity'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['engineCapacity'])"></app-text-input>
                                    </div>

                                    <div class="col-3 ms-1">
                                        <app-text-input [label]="'Horse Power'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['horsePower'])"></app-text-input>
                                    </div>

                                    <div class="col-3 ms-1">
                                        <app-text-input [label]="'Km On Board'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['kmOnBoard'])"></app-text-input>
                                    </div>

                                    <div class="col-3 ms-1">
                                        <app-form-select [enumValues]="fuelTypes" [label]="'Fuel Type'"
                                            [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['fuelType'])"></app-form-select>
                                    </div>
                                </div>



                                <div class="d-flex justify-content-between">

                                    <div class="col-9">
                                        <app-text-input [label]="'Owner'" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['owner'])"></app-text-input>
                                    </div>

                                    <div class="col-3 ms-1">
                                        <app-form-select [enumValues]="truckStatuses" [isEditable]="isEditMode"
                                            [formControl]="$any(truckForm.controls['status'])"
                                            [label]="'Status'"></app-form-select>
                                    </div>

                                </div>

                                <app-textarea-input [label]="'Extra Details'" [isEditable]="isEditMode"
                                    [formControl]="$any(truckForm.controls['details'])"></app-textarea-input>

                            </tab>

                            <tab heading="Informatii suplimentare">

                                <div class="d-flex justify-content-between">

                                    <div class="col-4">
                                        <app-date-picker [label]="'ITP Expiration Date'" [isEditable]="isEditMode"
                                            [isCheckDate]="false"
                                            [formControl]="$any(truckForm.controls['itpExpirationDate'])"></app-date-picker>
                                    </div>

                                    <div class="col-4">
                                        <app-date-picker [label]="'Insurance Expiration Date'" [isEditable]="isEditMode"
                                            [isCheckDate]="false"
                                            [formControl]="$any(truckForm.controls['insurranceExpirationDate'])"></app-date-picker>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-between">

                                    <div class="col-4">
                                        <app-date-picker [label]="'RoVignette Expiration Date'"
                                            [isEditable]="isEditMode" [isCheckDate]="false"
                                            [formControl]="$any(truckForm.controls['roVignetteExpirationDate'])"></app-date-picker>
                                    </div>

                                    <div class="col-4">
                                        <app-date-picker [label]="'Next Revision Date'" [isEditable]="isEditMode"
                                            [isCheckDate]="false"
                                            [formControl]="$any(truckForm.controls['nextRevisionDate'])"></app-date-picker>
                                    </div>

                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-3 me-1">
                                        <label>Truck</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>Job</label>
                                        <select class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Istoric actiuni">
                                @for (action of truckService.currentTruck()?.log; track $index) {
                                <p> {{action}}</p>
                                }
                            </tab>

                        </tabset>

                    </div>

                    <div class="col-2">
                        @if(!isEditMode){

                        <button class="btn btn-primary" type="button" (click)="setEditMode()">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Edit truck
                        </button>

                        }@else {

                        <button [disabled]="!truckForm.dirty" type="submit" class="btn btn-success">
                            <i class="fa-regular fa-floppy-disk"></i>
                            Save modifications
                        </button>

                        <button class="btn btn-outline-primary" type="button" (click)="setEditMode()">
                            <i class="fa-solid fa-xmark"></i>
                            Cancel
                        </button>

                        <button class="btn btn-danger" type="button" (click)="deleteTruck()">
                            <i class="fa-regular fa-trash-can"></i>
                            Delete truck
                        </button>

                        }
                    </div>

                </div>

            </form>

        </div>

    </div>
</div>