<div class="container justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center p-3">
        <div class="card col-6 pt-3">
            <h2 class="text-center text-primary">Add new truck</h2>
            <hr>

            <form [formGroup]="addTruckForm" (ngSubmit)="addNewTruck()">

                <div class="row g-0 mb-3">
                    <div class="col-6 pe-1">
                        <app-text-input [label]="'Licence Number*'"
                            [formControl]="$any(addTruckForm.controls['licenceNumber'])"></app-text-input>
                    </div>
                    <div class="col-6 ps-1">
                        <app-text-input [label]="'VIN*'"
                            [formControl]="$any(addTruckForm.controls['vin'])"></app-text-input>
                    </div>
                </div>

                <div class="row g-0 mb-3">
                    <div class="col-6 pe-1">
                        <app-text-input [label]="'Manufacturer*'"
                            [formControl]="$any(addTruckForm.controls['manufacturer'])"></app-text-input>
                    </div>
                    <div class="col-6 ps-1">
                        <app-text-input [label]="'Model*'"
                            [formControl]="$any(addTruckForm.controls['model'])"></app-text-input>
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-4">
                        <app-text-input [label]="'Km On Board'" [type]="'number'"
                            [formControl]="$any(addTruckForm.controls['kmOnBoard'])"></app-text-input>
                    </div>

                    <div class="col-4">
                        <app-form-select [enumValues]="fuelTypes" [label]="'Fuel Type*'"
                            [formControl]="$any(addTruckForm.controls['fuelType'])"></app-form-select>
                    </div>

                    <div class="col-4">
                        <app-form-select [enumValues]="truckStatuses" [label]="'Status'"
                            [formControl]="$any(addTruckForm.controls['status'])"></app-form-select>
                    </div>

                </div>

                <div class="d-flex justify-content-center mb-3">
                    <div class="col-9">
                        <div class="form-floating">
                            <app-text-input [label]="'Owner Firm'"
                                [formControl]="$any(addTruckForm.controls['owner'])"></app-text-input>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between mb-3">
                    <div class="col-3">
                        <div class="form-floating">
                            <app-text-input [label]="'Engine Capacity'" [type]="'number'"
                                [formControl]="$any(addTruckForm.controls['engineCapacity'])"></app-text-input>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-floating">
                            <app-text-input [label]="'Horse Power'" [type]="'number'"
                                [formControl]="$any(addTruckForm.controls['horsePower'])"></app-text-input>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-floating">
                            <app-date-picker [label]="'Fabrication Date'"
                                [isCheckDate]="false"
                                [formControl]="$any(addTruckForm.controls['fabricationDate'])"></app-date-picker>
                        </div>
                    </div>

                </div>

                <div class="justify-content-center d-flex">
                    <h4 class="text-primary">Expiration Dates</h4>
                </div>
                <hr>

                <div class="row justify-content-between mb-3">
                    <div class="col-6">
                        <app-date-picker [label]="'ITP'"
                            [formControl]="$any(addTruckForm.controls['itpExpirationDate'])"></app-date-picker>
                    </div>

                    <div class="col-6">
                        <app-date-picker [label]="'Insurance'"
                            [formControl]="$any(addTruckForm.controls['insurranceExpirationDate'])"></app-date-picker>
                    </div>
                </div>
                <div class="row justify-content-between mb-3">
                    <div class="col-6">
                        <app-date-picker [label]="'RoVignette'"
                            [formControl]="$any(addTruckForm.controls['roVignetteExpirationDate'])"></app-date-picker>
                    </div>

                    <div class="col-6">
                        <app-date-picker [label]="'Next Revision'"
                            [formControl]="$any(addTruckForm.controls['nextRevisionDate'])"></app-date-picker>
                    </div>
                </div>

                <div>
                    <app-textarea-input [label]="'Details'"
                        [formControl]="$any(addTruckForm.controls['details'])"></app-textarea-input>
                </div>

                <hr>

                <div class="form-group text-center mb-3">
                    <button [disabled]="addTruckForm.invalid || addTruckForm.pristine" class="btn btn-success me-2"
                        type="submit">Add Truck</button>
                    <button class="btn btn-outline-info me-2" type="button" routerLink="/trucks"
                        routerLinkActive="active">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>